In [ ]:
import sqlite3

In [16]:
pwd

'/home/raghavsharma/Documents/projects/UPN_chatbot/UPN_chatbot_main/rasachat'

In [21]:
con = sqlite3.connect('upnchat.db')
cursorObj = con.cursor()

In [24]:
cursorObj.execute("CREATE TABLE UPN_account_information(id integer PRIMARY KEY AUTOINCREMENT, Opportunity_name text, Opportunity_type text,Account_holder_name text, State_name text, Primary_contact_name text, Title_name text,  Pricing_type text, Estimate_type text, Circuit_type text, Product_type text, Bandwidth text,  Location_A text, Location_Z text)")
con.commit()

In [25]:
# cursorObj.execute('DROP table if exists UPN_account_information')

In [27]:

import sqlite3
con = sqlite3.connect('upnchat.db')
cursorObj = con.cursor()


# Id = 20300
opportunity_name="Netsmartz test 1"
opportunity_type="New Business"
account_holder_name="Millie Bobby"
state_name="CA"
primary_contact_name="Millie Bobby Brown"
title_name="option 1"
pricing_type="On Net"
estimate_type="$0 - $50K (3 Days-RVP Approval)"
circuit_type="New circuit"
product_type="Bidirectional NNI"
bandwidth="800 Gbps"
location_a_a="123 E Marcy St Ste 201, Santa Fe, NM, 87501, Santa Fe Office (Modrall Sperling)"
location_z_z="115 N Second Ave E, Newton, IA, 50208, Jasper County Annex"

entities = (opportunity_name, opportunity_type, account_holder_name, state_name, primary_contact_name, title_name, pricing_type, estimate_type,
                    circuit_type, product_type, bandwidth, location_a_a,location_z_z )
cursorObj.execute("INSERT INTO UPN_account_information (Opportunity_name, Opportunity_type,Account_holder_name, State_name,Primary_contact_name, Title_name,  Pricing_type, Estimate_type, Circuit_type, Product_type, Bandwidth,  Location_A, Location_Z) VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?)", entities)
print("hello")
con.commit()

hello

In [28]:
con.close()

In [11]:
UPDATE sqlite_sequence SET seq = <n> WHERE name = 'UPN_account_information';

SyntaxError: invalid syntax (<ipython-input-11-7428f526c1c2>, line 1)

In [ ]:
import sqlite3
con = sqlite3.connect('upnchat.db')
cursorObj = con.cursor()

Id=2
opportunity_name="Netsmartz test"
opportunity_type="New Business"
account_holder_name="Millie Bobby"
state_name="CA"
primary_contact_name="Millie Bobby Brown"
title_name="option 1"
pricing_type="On Net"
estimate_type="$0 - $50K (3 Days-RVP Approval)"
circuit_type="New circuit"
product_type="Bidirectional NNI"
bandwidth="800 Gbps"
location_a_a="123 E Marcy St Ste 201, Santa Fe, NM, 87501, Santa Fe Office (Modrall Sperling)"
location_z_z="115 N Second Ave E, Newton, IA, 50208, Jasper County Annex"

entities = (Id, opportunity_name, opportunity_type, account_holder_name, state_name, primary_contact_name, title_name, pricing_type, estimate_type,
                    circuit_type, product_type, bandwidth, location_a_a,location_z_z )
cursorObj.execute("INSERT INTO UPN_account_information (id, Opportunity_name, Opportunity_type,Account_holder_name, State_name,Primary_contact_name, Title_name,  Pricing_type, Estimate_type, Circuit_type, Product_type, Bandwidth,  Location_A, Location_Z) VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?)", entities)
con.commit()

In [5]:
tracker = "20287"


id = 2
tracker[4]
tracker[3]
input_num=id

In [6]:
count = 0
while input_num > 0:
    count += 1
    input_num //= 10
print("The number of digits in the given number are:", count)
if count==1:

The number of digits in the given number are: 1